
* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body {
    padding:0;
}
body.view {
    background-color: #111;
    color: #777;
}

a {
    text-decoration: none;
    color: royalblue;
}
a:hover {
    color: red;
}

.botlist_log_list {
    padding: 10px;
}
.botlist_log_list .re {
    padding: 4px;
}
.botlist_log_list .re:nth-child(odd) {
    background-color: #f4f4f4;
}
.botlist_log_list .re > span {
    display: inline-block;
    width: 80px;
}
.botlist_log_list .re > span.link {
    width: 180px;
}

ul {
    list-style-type: none;
    padding: 7px 10px;
    margin: 0;
}
ul > li {
    white-space: pre;
}
ul > li.new {
    color: #c1c1c1;
}
ul > li.close {
   margin-top: 10px;
}

bar {
    display: block;
    background-color: #222;
    color: #c3c3c3;
    min-height: 24px;
    box-shadow: 0 0 10px 0 #000000;
}
bar > * {
    height: 30px;
    vertical-align: middle;
}
bar * {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
bar *.loading {
    transition: 0.2s all;
    opacity: .5;
}
bar > pair {
    background-color: #7e0000;
    padding: 1px 18px;
    text-shadow: 0 0 2px #510505;
    font-size: 22px;
}
bar > price {
    text-shadow: 0 0 2px #000;
    padding: 0 9px;
}
bar > * > * {
    padding: 4.5px 9px;
}
bar > price > curr {
    color: #cfca14;
}
bar > price > *::before {
    padding-right: 4px;
    opacity: 0.5;
}
bar > price > up::before {
    content: "▲";
}
bar > price > down::before {
    content: "▼";
}
bar > price > liq::before {
    content: "⛒";
}

bar > profit > * > * {
    display: block;
    font-size: 11px;
    text-shadow: 0 0 1px #000;
    text-align: center;
}
bar > profit > * {
    padding: 2.5px 6px 0;
}
bar > profit > * > *::after {
    padding-left: 1px;
    opacity: .5;
}
bar > profit > * > amount::after {
    content: "₮";
}
bar > profit > * > percent::after {
    content: "%";
}

/* bar > profit > round { */
    /* opacity: .8; */
/* } */
bar > profit > *.green {
    color: #6bbb35;
}
bar > profit > *.red {
    color: #de7777;
}

.specs {
    width: auto !important;
    font-size: 8px;
}

@media only screen and (max-width: 550px) {
    bar > pair {
        display: none;
    }
}
@media only screen and (max-width: 460px) {
    bar > price > up::before ,
    bar > price > down::before ,
    bar > price > liq::before {
            display: none;
    }
}
@media only screen and (max-width: 420px) {
    bar * {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}
@media only screen and (max-width: 380px) {
    profit > round {
        display: none;
    }
}
@media only screen and (max-width: 325px) {
    profit {
        display: none;
    }
}