
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: monospace;
    font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #eee inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=submit] {
    background-color:#3f8410;
    text-shadow: 0px 0px 2px #000;
    color: white;
    padding: 8px 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #499019;
}
input[type=text] {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;;
}
select {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;;
}



a {
    color: royalblue;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    color: rgb(255, 108, 108);
}
a.clicked {
    color: #a00;
}

body.not-logged {
    background-color: #ccc;
    background-image: url('https://thumbs.dreamstime.com/b/lingerie-seamless-pattern-flat-line-icons-bra-types-woman-underwear-background-vector-illustrations-lingerie-seamless-135983344.jpg');
    background-size: 400px;
    font-size: 24px;
    line-height: 1.5;
}
body.not-logged * {
    font-size: 24px;
}

form.login {
    width: 400px;
    margin: auto;
    margin-top: calc( 50vh - 80px );
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    background-color: white;
}
form.login .re {
    display: block;
    margin-bottom: 3px;;
}
form.login input[type=text],
form.login input[type=password] {
    border-radius: 5px;
    width: 100%;
    border: 0px;
    font-size: 24px;
    outline: none;
    background-color: #ddd;
    padding: 6px 12px;
}

menu {
    background-color: #eee;
    padding: 0 5px;
}
menu > a {
    padding: 6px 3px 8px;
}
menu a.right {
    float: right;
}

memo {
    color: #888;
    font-size: 70%;    
}

/****************/

.botlist {
    padding: 15px 10px;
}
.botlist .re {
    display: block;
    padding: 0px 10px;
    border-radius: 4px;
}
.botlist .re.h {
    background-color: #f6f6f6;;
}
.botlist .re.h>* {
    padding-left: 0;
    padding-right: 0;
}
.botlist .re.r:nth-child(odd) {
    background-color: #f6f6f6;
}
.botlist .re > * {
    display: inline-block;
    width: 80px;
    padding: 12px 3px;
}
.botlist .re > .stat {
    font-size: 10px;
    position: relative;
    text-align: center;
    top: -6px;
    min-height: 38px;
    margin-bottom: -20px;;
}
.botlist .re > .stat > stat {
    min-height: 14px;
}
.botlist .re > .stat > o {
    min-height: 9px;
    display: block;
    font-size: 8px;
    position: absolute;
    width: 74px;
    margin: auto;
    text-align: center;
}
.botlist .re .name {
    width: 160px;
}
.botlist .re .name e {
    color: #900;
    display: block;
    margin-top: -10px;
    margin-bottom: -3px;
    font-size: 10px;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
.botlist .re .leverage {
    width: 60px;
}
.botlist .re .budget {
    width: 50px;
}
.botlist .re .init {
    width: 50px;
}
.botlist .re .dual {
    width: 60px;
}
.botlist .re .tools {
    width: 201px;
    cursor: default;
}
.botlist .re .tools .disabled {
    color: gray;
    cursor: default;
}
.botlist .re .tools .half {
    color: #a5bbff;
    cursor: pointer;
}
.botlist .re.t {
    border-top: 1px solid #eee;
    border-radius: 0;;
}
.botlist i {
    font-size: 14px;
    margin: -5px 0;
    position: relative; top: 2px;
    display: inline-block;
    cursor: pointer;
}
.botlist .re .tools .disabled i {
    cursor: default;
}
.botlist_newForm {
    padding: 50px 30px;
}
.botlist_newForm >* {
    display: block;
    padding: 4px 0;
}
.botlist_newForm > * > span {
    text-align: right;
    display: inline-block;
    padding-right: 10px;
    width: 120px;
}
.botlist_newForm > hr {
    padding: 0;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-width: 1px 0 0 0;
}
.botlist_newForm >* input[type=text], 
.botlist_newForm >* input[type=number],
/* .botlist_newForm >* input[type=submit], */
.botlist_newForm >* input[type=button],
.botlist_newForm >* input[type=datetime-local],
.botlist_newForm >* select {
    padding: 4px;
}
.botlist_newForm >* input[type=datetime-local] {
    width: 162px !important;
}

form.profile {
    padding: 60px 30px;
}
form.profile >* {
    display: block;
    margin: 3px;
}
form.profile >* span {
    width: 160px;
    text-align: right;
    display: inline-block;
    padding-right: 4px;
    font-size: 16px;
}
form.profile >* input {
    padding: 6px 12px;
    font-size: 16px;
}
form.profile >* input[type=email], 
form.profile >* input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
}
form.profile >* input[type=submit] {
    background-color: green;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}
form.profile >* input[type=submit]:hover {
    opacity: 0.8;
}

input[name='leverage'],
input[name='budget_in_use'],
input[name='liq_margin'] {
        width: 70px;
}
input[name='first_step'] {
    width: 78px;
}

form[name="form"] input[type='text'], 
form[name="form"] input[type='number'] {
    border: 1px solid #ccc;
}
form[name="form"] input[type='text']:disabled, 
form[name="form"] input[type='number']:disabled {
    background-color: rgb(206, 206, 206);
    border: 1px solid #ccc;
    cursor: default;
}

kelvin {
    display: inline-block;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
}
bowl {
    text-align: right;
    width: 100px;
    display: inline-block;
}
kelvin input {
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}


.botlist .re.r .spot, .botlist .re.r .balance {
        cursor: pointer;
    color: royalblue;
}
.botlist .re.r .spot:hover, .botlist .re.r .balance:hover {
    color: red;
}
.botlist .re .newlog {
    color: #e000f2;
}
.botlist .re .newlog:hover {
    color: #f577ff;
}

form input.disabled {
    background-color: #eee
}


form.backtest_form {
    padding: 30px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
}
form.backtest_form > * {
    display: block;
    margin: 4px 0;
}
form.backtest_form input[type=datetime-local] {
    padding: 2px;
}
form.backtest_form input[type=submit] {
    padding: 3px;
}

.backtest_list {
    padding: 30px;
}
.backtest_list > .r {
    padding: 5px 0;
    background-color: #f4f4f4;
}
.backtest_list > .r:nth-child(2n+1) {
    background-color: #fafafa;
}
.backtest_list > .r.liquidated * {
    color: #910d0d;
}
.backtest_list > .r.not-liquidated * {
    color: #098905;
}
.backtest_list .r > * {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    color: #444;
}
.backtest_list .r.h > * {
    color: #aaa;
    font-size:10px;
}
.backtest_list > .r > .id {
    width: 40px;
    color: royalblue;
}
.backtest_list > .r > .id:hover {
    color: red;
}
.backtest_list > .r > .date {
    width: 136px;
    font-size:10px;
}
.backtest_list > .r > .date_in {
    font-size: 10px;
    width: 60px;
}
.backtest_list > .r > .round {
    width: 60px;
}
.backtest_list > .r > .percent {
    width: 70px;
}
.backtest_list > .r > .risk {
    width: 120px;
    /* background-color: #f4f4f4; */
}
.backtest_list > .r > .risk ld {
    font-size: 10px;
}
.backtest_list > .r m {
    opacity: 0.4;
}
.backtest_list > .r > .symbol {
    width: 90px;
}
.backtest_list > .r > .budget {
    width: 60px;
}
.backtest_list > .r > .leverage {
    width: 60px;
}
.backtest_list > .r > .step_gap {
    width: 40px;
}
.backtest_list > .r > .max_step {
    width: 40px;
}
.backtest_list > .r > .valid_step {
    width: 42px;
}

.prompt {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
    color: #777;
}

.timerange {
    width: auto !important;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    /* width: auto !important; */
}

.timerange .the_form {
    display: none;
    width: 100%;
}
.timerange .the_messagebox {
    display: inline-block;
    width: calc( 100% - 75px );
    text-align: center;
}

.timerange .customrange_form {
    display: none;
}

.botlist_newForm input[type=submit] {
    margin-right: 10px;
}

.timerange .fa-solid.fa-vials {
    transition: 0.5s all;
}
.timerange .fa-solid.fa-vials.old {
    color: gray;
}
.timerange .fa-solid.fa-vials.moving {
    transform: rotate(360deg);
}

.apilist {
    padding: 15px 10px;
}
.apilist i {
    font-size: 14px;
}
.apilist .re {
    display: block;
    padding: 0px 10px;
    border-radius: 4px;
}
.apilist .re.h {
    background-color: #f6f6f6;;
}
.apilist .re.h>* {
    padding-left: 0;
    padding-right: 0;
}
.apilist .re.r:nth-child(odd) {
    background-color: #f6f6f6;
}
.apilist .re > * {
    display: inline-block;
    width: 80px;
    padding: 12px 3px;
}
.apilist .re .name {
    width: 160px;
}
.apilist .re .key {
    width: 100px;
}
.apilist .re .action > a {
    padding: 0 3px;
}
.apilist .r > .ex {

}
.apilist .r > .bots {

}
.apilist .r > .actives {

}
.apilist .r > .action {

}


.apilist_form {
    padding: 60px 0;
}
.apilist_form > div {
    margin: 10px 0;
}
.apilist_form span {
    display: inline-block;
    width: 180px;
    text-align: right;
    padding-right: 20px;;
}
